In [2]:
import pandas as pd 
import numpy as np

Question 1 anser is

In [3]:
dataset = pd.read_csv("data.csv")

Question 2  answer

In [4]:
len(dataset)

11914

question 3

In [5]:
dataset.Make.value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

question 4

In [6]:
audis = dataset.loc[dataset.Make == "Audi"]
print(len(audis.Model.unique()))
del audis

34

question 5

In [7]:
counter = 0
for i in dataset.columns:
    print(f"column '{i}' has {dataset[i].isna().sum()} missing value ")
    if dataset[i].isna().sum():
        counter += 1 

print(counter, "column has missing values")

column 'Make' has 0 missing value
column 'Model' has 0 missing value
column 'Year' has 0 missing value
column 'Engine Fuel Type' has 3 missing value
column 'Engine HP' has 69 missing value
column 'Engine Cylinders' has 30 missing value
column 'Transmission Type' has 0 missing value
column 'Driven_Wheels' has 0 missing value
column 'Number of Doors' has 6 missing value
column 'Market Category' has 3742 missing value
column 'Vehicle Size' has 0 missing value
column 'Vehicle Style' has 0 missing value
column 'highway MPG' has 0 missing value
column 'city mpg' has 0 missing value
column 'Popularity' has 0 missing value
column 'MSRP' has 0 missing value
5 column has missing values

question 6

In [8]:
dataset["Engine Cylinders"].median()

6.0

In [9]:
dataset["Engine Cylinders"] = dataset["Engine Cylinders"].fillna(dataset["Engine Cylinders"].mode()[0])

In [10]:
dataset["Engine Cylinders"].median()
#median value not changed

6.0

question 7

In [11]:
lotus = dataset.loc[dataset.Make == "Lotus"]
lotus = lotus[["Engine HP","Engine Cylinders"]]

In [12]:
dropped = lotus.drop_duplicates()
dropped

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [13]:
x = dropped.to_numpy()
xtx = np.matmul(x.T,x)

In [14]:
xtx_inv = np.linalg.inv(xtx)

In [15]:
y = np.array([1100,800,750,850,1300,1000,1000,1300,800])

In [16]:
m = np.matmul(xtx_inv, x.T)
w = np.matmul(m,y)

In [17]:
print(w)
print(w[0])

[  4.59494481 -63.56432501]
4.594944810094551